.bg-img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.over-div {
    display: flex;
    flex-direction: row;
}

.content-section {
    width: 50%;
}

#app.div  {
    height: 100vh;
}

.maybe-sheep:hover {
    border: #FFDFDF;

}

.bg-image {
    background-image: url(../assets/purpbluepipe.jpeg);
    width: 100%;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
}

.text-hover {
    color: rgb(132, 251, 255) ;
    text-shadow: 5px 5px 3px #000000;
}