.bg-img {
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
    left: 0;
    top: 0;
    box-shadow: 2px solid black inset;
}

.over-div {
    display: flex;
    flex-direction: row;
}

.content-section {
    width: 50%;
}

#app {
    height: 100vh;
}

.maybe-sheep:hover {
    border: #FFDFDF;

}