.bg-img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 2px solid black inset;
}

.over-div {
    display: flex;
    flex-direction: row;
}

.content-section {
    width: 50%;
}

#app.div {
    height: 100vh;
}

.maybe-sheep:hover {
    border: #FFDFDF;

}

.bg-image {
    background-image: url('./assets/geoms.jpeg');
    width: 100%;
    height: 400px;
    background-size: contain;
}